@model FurnitureAssemblyWorkerClientApp.Models.ErrorViewModel

<h1 class="text-danger">Произошла ошибка</h1>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}