@using FurnitureAssemblyContracts.ViewModels

@model List<FurnitureModuleViewModel>

@{
    ViewData["Title"] = "Изменение мебельного модуля";
}
<div class="text-center">
    <h2 class="display-4">Изменение мебельного модуля</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Мебельный модуль:</div>
        <div class="col-8">
            <select id="furnitureModule" name="furnitureModule" class="form-control">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="name" id="name" /></div>
    </div>
    <div class="row">
        <div class="col-4">Стоимость:</div>
        <div class="col-8"><input type="text" name="cost" id="cost" /></div>
    </div>
    <div class="row">
        <div class="col-4">Дата создания:</div>
        <div class="col-8"><input type="datetime-local" id="dateCreate" name="dateCreate" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Изменить" class="btn btn-primary" /></div>
    </div>
</form>

@section Scripts {
    <script>
        function check() {
            var furnitureModule = $('#furnitureModule').val();
            if (furnitureModule) {
                $.ajax({
                    method: "GET",
                    url: "/Home/GetFurnitureModule",
                    data: { furnitureModuleId: furnitureModule },
                    success: function (result) {
                        if (result != null) {
                            $('#name').val(result.name);
                            $('#cost').val(result.cost);
                            $('#dateCreate').val(new Date(result.dateCreate).toISOString().split(".")[0].substr(0, 16));
                        }
                    }
                });
            };
        }
        check();
        $('#furnitureModule').on('change', (e) => check());
    </script>
}