@using FurnitureAssemblyContracts.ViewModels;
@{
	ViewData["Title"] = "Удаление области";
}
@model List<ScopeViewModel>
<div class="text-center">
	<h2 class="display-4">Удаление области применения</h2>
</div>
<form method="post">
	<div class="row">
		<div class="col-4">Выбранная область:</div>
		<div class="col-8">
			<select id="scope" name="scope" class="form-control">
				@foreach (var item in Model)
				{
					<option value="@item.Id">
						@Html.DisplayFor(modelItem => item.Name)
					</option>
				}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-8"></div>
		<div class="col-4"><input type="submit" value="Удалить" class="btn btn-primary" /></div>
	</div>
</form>