@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добрый день</h1>
    <p>Вас приветсвует приложение "Фабрика мебели «Мягкое место». Кладовщик"</p>
</div>
